$lightGreen: #b9e7e7;

:root,
html {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;

    body {
        max-width: 450px;
        margin: 0 auto;

        #root {
            max-width: inherit;

            .app {
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 450px;
                margin: 0 auto;

                .container {
                    max-width: 450px;

                    .layout {
                        max-width: 450px;

                        .link {
                            text-decoration: none;
                            color: inherit;
                        }

                    }
                }
            }
        }
    }
}